<div class="product-list">
  <h1>Product List</h1>
  <p class="messege-p">{{productMessege}}</p>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Categery</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of  productList">
        <td><img src="{{item.image}}" alt="product image"></td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.categery}}</td>
        <td>{{item.description}}</td>
        <td>
          <fa-icon title="Click to Delete Product" (click)="deleteProduct(item.id)" [icon]="deleteIcon"></fa-icon>
          <a class="adj-upd-link" title="Click to Update Product" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
